.about-us {
  max-width: 393px;
  min-height: 267px;
  margin: 0;
  padding: 98px 0 0 0;


  @media (max-width: $max-tablet) {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 77px;
  }

  @media (max-width: $max-mobile) {
    padding-top: 72px;
  }
}

.about-us__logo {
  margin-bottom: 20px;

  @media (max-width: $max-tablet) {
    display: none;
  }
}

.about-us h2 {
  @include bold-fonts();
  margin: 0 0 24px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 21px;
  }
}

.about-us p {
  @include light-fonts();
  font-size: 20px;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    max-width: 435px;
    text-align: center;
    font-size: 18px;
  }

  @media (max-width: $max-mobile) {
    max-width: 310px;
  }
}
