.burger-open {
  display: none;

  @media (max-width: $max-tablet) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 500%;
    transition: 1s;
    background-color: $burger-open-color;
  }
}

.burger-open--appear {
  display: block;
}

.burger-open__menu {
  width: 50px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0 53px auto;
  padding: 0 20px 0 0;
}

.burger-open__list {
  height: 770px;
  overflow: scroll;
}

.burger-open__list-item-wrapper {
  position: relative;
  background-color: $burger-menu-list-item-color;
  margin: 0 0 30px 0;
  padding: 0;
  max-height: 60px;

  &:hover {
    background-color: $burger-menu-list-item-hover;
  }

  &:active {
    background-color: $burger-menu-list-item-active;
  }

  &:last-child {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 16px;
    background: url("../img/burger-arrow.svg") no-repeat;
    background-size: 25px 12px;
    width: 25px;
    height: 12px;
  }
}

.burger-open__list-item {
  margin: 0;
  padding: 0;
  position: relative;
}

.burger-open__list-item a {
  @include semibold-fonts();
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: $burger-menu-line-color;
  padding: 15px;
}

.burger-open__action {
  display: none;
}
