.facts {
  margin: 0;
  padding: 0;

  @media (max-width: $max-mobile) {
    margin-bottom: 85px;
  }
}

.facts__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facts__title {
  @include semibold-fonts();
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $facts-title-color;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 32px;
  }
}

.facts__list {
  @include regular-fonts();
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $facts-list-item-color;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  counter-reset: list;

  @media (max-width: $max-tablet) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;
  }

  @media (max-width: $max-mobile) {
    font-size: 18px;
    line-height: 34px;
    row-gap: 35px;
  }
}

.facts__list-item {
  max-width: 263px;
  text-align: center;
  margin: 0 35px 0 0;
  padding: 0;

  &:last-child {
    margin: 0;
  }

  @media (max-width: $max-tablet) {
    margin: 0;

    &:nth-last-child(-n+3) {
      margin: 0
    }
  }
}

.facts__list-item::before {
    counter-increment: list;
    content: "0" counter(list);
    @include bold-fonts();
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27273px;
    color: $facts-list-counter-color;
    display: block;
    margin: 0 0 15px 0;
    padding: 0;
}
