.how-find-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 50px;

  @media (max-width: $max-tablet) {
    padding: 0 35px;
  }

  @media (max-width: $max-mobile) {
    padding: 0;
  }
}

.how-find-us__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 16px;

  @media (max-width: $max-mobile) {
    padding: 0 28px;
  }
}

.how-find-us__title {
  @include semibold-fonts();
  font-size: 30px;
  line-height: 30px;
  color: $how-find-us-title;
  margin: 0 0 30px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    font-size: 24px;
    margin-bottom: 19px;
  }

  @media (max-width: $max-mobile) {
    font-size: 18px;
  }
}

.how-find-us__text {
  @include regular-fonts();
  text-align: center;
  font-size: 17px;
  line-height: 31px;
  color: $how-find-us-text;
  max-width: 555px;
  margin: 0 0 42px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    max-width: unset;
    margin-bottom: 23px;
  }

  @media (max-width: $max-mobile) {
    font-size: 17px;
  }
}

.how-find-us__map {
  background: url("../img/desktop/map.jpg") center/contain no-repeat;
  min-width: 100%;
  min-height: 530px;
  margin: 0 0 32px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    background: url("../img/tablet/map.jpg") center/cover no-repeat;
    min-height: 545px;
    margin-bottom: 15px;
  }

  @media (min-width: $min-mobile) and (max-width: $max-mobile) {
    background: url("../img/mobile/map.jpg") center/cover no-repeat;
    min-height: 250px;
    margin-bottom: 24px;
  }
}

.how-find-us__contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(-19px);
  column-gap: 93px;

  @media (max-width: $max-mobile) {
    justify-content: center;
    min-width: 73%;
    column-gap: 20px;
    row-gap: 13px;
    transform: translateX(-7px);
  }
}

.how-find-us__email {
  position: relative;
  margin: 0;

  @media (max-width: $max-mobile) {
    // left: 24px;
    // text-align: center;
    // margin-bottom: 14px;
  }
}

.how-find-us__email::before {
  content: '';
  display: inline-block;
  background: url("../img/email.svg") no-repeat;
  background-size: 26px 20px;
  width: 26px;
  height: 20px;
  transform: translateX(20px);
  margin-right: 35px;
  position: relative;
  top: 5px;

  @media (max-width: $max-mobile) {
    // left: 6px;
  }
}

.how-find-us__email a {
  @include regular-fonts();
  font-size: 16px;
  line-height: 22px;
  color: $how-find-us-contacts;
  margin: 0;
  padding: 0;

  @media (max-width: $max-mobile) {
    margin: 0;
  }
}

.how-find-us__phone {
  position: relative;

  @media (max-width: $max-mobile) {
    // text-align: center;
    // left: 12px;
  }
}

.how-find-us__phone::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 4px;
  background: url("../img/phone.svg") no-repeat;
  background-size: 20px;
  width: 22px;
  height: 23px;
  margin-right: 14px;

  @media (max-width: $max-mobile) {
    // left: 48px;
  }
}

.how-find-us__phone a {
  @include regular-fonts();
  font-size: 16px;
  line-height: 22px;
  color: $how-find-us-contacts;
  margin: 0;
  padding: 0;
}
