.main-navigation {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $light-font-color;
  min-width: 875px;

  &:hover {
    border-bottom: 1px solid $turquoise-color;
  }

  @media (max-width: $max-tablet) {
    min-width: unset;
  }
}

.main-navigation--disappear {
  @media (max-width: $max-tablet) {
    display: none;
    border-bottom: 0;
  }
}

.main-navigation__list {
  @include light-fonts();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  color: $light-font-color;
  letter-spacing: -0.01em;
  margin: 0 0 8px 0;
  padding: 0;
  column-gap: 138px;

  @media (max-width: $max-tablet) {
    column-gap: 0;
  }

  @media (max-width: $max-mobile) {
    @include regular-fonts();
    margin-bottom: 0;
  }
}

.main-navigation__list li {
  padding: 0;
  text-align: center;

   @media (max-width: $max-tablet) {
    text-align: center;
    margin-right: 100px;
  }

  @media (max-width: $max-mobile) {
    position: relative;
    min-width: 100%;
    flex: 1;
    margin-right: 0;
    letter-spacing: -0.01em;
    font-size: 22px;
    margin-bottom: 20px;
    background-color: $burger-menu-list-item-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.main-navigation__list a {
  @media (max-width: $max-mobile) {
    color: $burger-menu-line-color;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    display: block;
    padding: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 17px;
      right: 15px;
      background: url("../img/burger-arrow.svg") no-repeat;
      background-size: 25px 12px;
      width: 25px;
      height: 12px;
    }
  }
}

.main-navigation__list-item:hover a {
  color: $turquoise-color;

  @media (max-width: $max-mobile) {
      background-color: $burger-menu-list-item-hover;
      color: unset;
  }

}

.main-navigation__list-item:active a {
  opacity: 0.4;
}

.main-navigation__list-link {
  color: $light-font-color;
}

