.shape {
  margin: 0;
  padding: 102px 0 0 0;

  @media (max-width: $max-tablet) {
    padding: 116px 0 0;
  }

  @media (max-width: $max-mobile) {
    padding: 194px 0 0;
  }
}

.shape__inner {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.shape__inner legend {
  @include semibold-fonts();
  letter-spacing: -0.01em;
  max-width: 327px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    color: $form-title-color;
    font-size: 18px;
    letter-spacing: -0.01em;
    max-width: 321px;
    margin-bottom: 31px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 18px;
  }
}

.shape__enter-name {
  min-width: 327px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid $input-border-color;
  margin: 0 0 20px 0;

  @media (max-width: $max-mobile) {
    min-width: 100%;
  }
}

.shape__enter-name input {
  min-width: 100%;
  min-height: 100%;
  border-radius: 6px;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0 0 0 30px;

  &:hover,
  &:focus {
    outline: 2px solid $turquoise-color;
  }

  @media (max-width: $max-mobile) {
    padding: 0 0 0 20px;
  }
}

.shape__enter-phone {
  min-width: 327px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid $input-border-color;
  margin: 0 0 20px 0;

  @media (max-width: $max-mobile) {
    min-width: 100%;
  }
}

.shape__enter-phone input {
  min-width: 100%;
  min-height: 100%;
  border-radius: 6px;
  padding: 0 0 0 30px;
  outline: 0;
  border: 0;

  &:hover,
  &:focus {
    outline: 2px solid $turquoise-color;
  }

  @media (max-width: $max-mobile) {
    padding: 0 0 0 20px;
  }
}

.shape__inner button {
  @include semibold-fonts();
  color: $button-text-color;
  font-size: 15px;
  line-height: 21px;
  min-width: 327px;
  height: 48px;
  background-color: $turquoise-color;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 10px;

  @media (max-width: $max-tablet) {
    min-width: 278px;
  }

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}

.shape__error {
  border: 2px solid $input-error-color;
}
