.shape-block {
  margin: 0 0 150px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    margin-bottom: 412px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 429px;
  }
}

.shape-block__general-block {
  background: $shape-block-background-color url("../img/desktop/mainback.png");
  background-size: cover;
  min-height: 825px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 50px 20px 50px;

  @media (min-width: $desktop) {
    background-position: center;
  }

  @media (min-resolution: 2dppx) {
    background: $shape-block-background-color url("../img/desktop/mainback@2x.png");
    background-size: cover;
    background-position: center;
  }

  @media (max-width: $max-tablet) {
    min-height: unset;
    max-height: 340px;
    background-image: url("../img/tablet/mainback.png");
    margin-bottom: 70px;

    @media (min-resolution: 2dppx) {
      background: $shape-block-background-color url("../img/tablet/mainback@2x.png");
      background-size: cover;
    }
  }

  @media (max-width: $max-mobile) {
    min-height: 393px;
    background-image: url("../img/mobile/mainback.png");
    padding: 0 20px 20px 20px;

    @media (min-resolution: 2dppx) {
      background: $shape-block-background-color url("../img/mobile/mainback@2x.png");
      background-size: cover;
    }
  }
}

.shape-block__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 875px;

  @media (max-width: $max-tablet) {
    flex-direction: column;
    justify-content: flex-start;
    min-width: unset;
    row-gap: 28px;
  }

  @media (max-width: $max-mobile) {
    row-gap: 68px;
  }
}

.shape-block__inner-bottom {
  display: flex;
  justify-content: center;

  @media (max-width: $max-mobile) {
    padding: 0 20px;
  }
}
