.shape-bottom__inner {
  display: none;
  border: none;

  @media (max-width: $max-tablet) {
    display: block;
    display: flex;
    flex-direction: column;
    max-width: 327px;
  }
}

.shape-bottom__title {
  @include semibold-fonts();
  letter-spacing: -0.005em;
  color: $form-title-color;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}

.shape-bottom__enter-name {
  height: 48px;
  border-radius: 6px;
  border: 1px solid $input-border-color;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
}

.shape-bottom__enter-phone {
  height: 48px;
  border-radius: 6px;
  border: 1px solid $input-border-color;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
}

.shape-bottom__submit {
  @include semibold-fonts();
  color: $button-text-color;
  font-size: 15px;
  line-height: 21px;
  // min-width: 327px;
  height: 48px;
  background-color: $turquoise-color;
  border-radius: 6px;
  border: none;
  margin: 0;
  padding: 0;
}

.shape-bottom__error {
  border: 2px solid $input-error-color;
}
