.types {
  background-color: $types-background-color;
  min-height: 1039px;
  margin: 0;
  padding: 150px 50px 0 50px;

  @media (max-width: $max-tablet) {
    min-height: 1021px;
    padding-top: 123px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 49px;
    padding: 50px 20px 0;
  }
}

.types__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.types__title {
  @include semibold-fonts();
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $types-title-color;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

.types__img-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;

  @media (max-width: $max-tablet) {
    row-gap: 45px;
  }

  @media (max-width: $max-mobile) {
    row-gap: 37px;
  }
}

.types__road-bike-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 0 7px 0;
  padding: 60px 0 0 0;

  @media (max-width: $max-tablet) {
    padding: 0;
  }
}

.types__road-bike-wrapper::before {
  content: "";
  position: absolute;
  top: 217px;
  left: -60px;
  width: 180px;
  height: 180px;
  border: 27px solid $turquoise-color;
  border-radius: 50%;
  color: $turquoise-color;
  z-index: -1;

  @media (max-width: $max-tablet) {
    width: 127px;
    height: 127px;
    border: 18px solid $turquoise-color;
    top: 200px;
    left: -36px;
  }

  @media (max-width: $max-mobile) {
    top: 201px;
    left: -25px;
  }
}

.types__mountain-bike-wrapper {
  position: relative;
  margin: 0 0 7px 0;
  padding: 90px 0 0 0;

  @media (max-width: $max-tablet) {
    padding: 0;
  }
}

.types__mountain-bike-wrapper::before {
  content: "";
  position: absolute;
  top: 72px;
  left: -18px;
  width: 47px;
  height: 47px;
  border: 8px solid $turquoise-color;

  @media (max-width: $max-tablet) {
    display: none;
  }
}

.types__mountain-bike-wrapper::after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: -23px;
  width: 47px;
  height: 47px;
  border: 8px solid $turquoise-color;

  @media (max-width: $max-tablet) {
    display: none;
  }
}

.types__child-bike-wrapper {
  position: relative;
  margin: 0 0 7px 0;
  padding: 51px 0 0 0;

  @media (max-width: $max-tablet) {
    padding: 0;
  }
}

.types__child-bike-wrapper::before {
  content: "";
  position: absolute;
  top: 19px;
  right: -36px;
  width: 95px;
  height: 95px;
  border: 17px solid $turquoise-color;
  border-radius: 50%;

  @media (max-width: $max-tablet) {
    border: 13px solid $turquoise-color;
    width: 68px;
    height: 68px;
    top: -20px;
    right: -26px;
  }

  @media (max-width: $max-mobile) {
    right: -13px;
  }
}

.types__road-bike {
  @media (max-width: $max-tablet) {
    width: 270px;
    height: 300px;
  }
}

.types__mountain-bike {
  @media (max-width: $max-tablet) {
    width: 270px;
    height: 300px;
  }
}

.types__child-bike {
  @media (max-width: $max-tablet) {
    width: 270px;
    height: 300px;
  }
}

.types__img-cards-name {
  @include semibold-fonts();
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: $types-text-color;
  max-width: 342px;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    max-width: 270px;
  }
}
