$light-font-color: rgba(255, 255, 255, 0.3);
$bold-font-color: rgba(255, 255, 255, 1);
$regular-font-color: rgba(0, 0, 0, 1);
$semibold-font-color: rgba(255, 255, 255, 1);
$turquoise-color: rgba(10, 217, 198, 1);
$button-text-color: rgba(0, 0, 0, 1);
$burger-menu-line-color: rgba(0, 0, 0, 1);
$input-border-color: rgba(201, 204, 212, 1);
$form-title-color: rgba(0, 0, 0, 1);
$header-background-color: rgba(37, 37, 37, 1);
$navigation-item-background-color: rgba(246,246,246, 1);
$input-error-color: rgba(255, 99, 71, 1);
$how-find-us-title: rgba(31, 31, 31, 1);
$how-find-us-text: rgba(0, 0, 0, 1);
$how-find-us-contacts: rgba(0, 0, 0, 0.5);


$desktop: 1440px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-mobile: 767px;
$min-mobile: 320px;
