@import "global/fonts.scss";
@import "global/mixins.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "global/normalize.scss";

@import "blocks/page-body.scss";
@import "blocks/center-container.scss";
@import "blocks/page-header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/page-main.scss";
@import "blocks/shape-block.scss";
@import "blocks/about-us.scss";
@import "blocks/shape.scss";
@import "blocks/burger-closed.scss";
@import "blocks/burger-open.scss";
@import "blocks/shape-bottom.scss";








@import "blocks/page-footer.scss";
